<main>

    <section>

        <div class="container text-16">

            <h3 class="color3 margin-top-page">Cornalvo</h3>

            <div class="separadorWeb"></div>

            <div class="margin-top20">
                <p>Cornalvo es un paraje natural situado cerca del municipio de Mirandilla, en la provincia de Badajoz, Extremadura, España. Es conocido principalmente por su embalse y su entorno natural, que atraen a visitantes amantes de la naturaleza y aquellos que buscan disfrutar de actividades al aire libre.</p>
                <p>El embalse de Cornalvo es un cuerpo de agua creado por la presa de Cornalvo, construida en el siglo I d.C. por los romanos. Además de su función de abastecimiento de agua, el embalse también ofrece oportunidades para la práctica de actividades recreativas como la pesca, el senderismo y los paseos en barca.</p>
                <p>El entorno natural que rodea el embalse de Cornalvo es un lugar ideal para explorar la flora y fauna autóctonas. Hay senderos y rutas que permiten a los visitantes disfrutar de caminatas, paseos en bicicleta o incluso realizar actividades de observación de aves.</p>
                <p>En cuanto al nombre "Cornalvo", se cree que proviene del latín "cornus alba" que significa "espino blanco", en referencia a la vegetación que crece en la zona.</p>
                <p>Cornalvo es un destino popular para aquellos que buscan escapar del bullicio de la ciudad y disfrutar de la belleza natural y la tranquilidad del entorno. Si visitas Mirandilla, te recomendaría considerar una visita a Cornalvo para disfrutar de sus paisajes, practicar actividades al aire libre y descubrir la historia y la naturaleza de la zona.</p>
                <p>Además de su embalse y su entorno natural, Cornalvo también es conocido por el impresionante yacimiento arqueológico que se encuentra en sus cercanías. En este yacimiento se pueden encontrar restos de una antigua presa romana, construida en el siglo I d.C., que es considerada una de las obras hidráulicas más importantes de la época romana en la península ibérica.</p>
                <p>La presa de Cornalvo es un ejemplo destacado de la ingeniería romana. Con una longitud de aproximadamente 430 metros y una altura de 28 metros, fue construida con el objetivo de abastecer de agua a la ciudad de Emerita Augusta (actual Mérida) y a otras localidades cercanas. La presa está compuesta por varios arcos y contrafuertes, lo que la convierte en una estructura impresionante desde el punto de vista arquitectónico.</p>
                <p>Entre los árboles típicos de Cornalvo destacan la encina, el alcornoque, el madroño y el piruétano. Los arbustos más frecuentes en el Parque son el brezo, el lentisco, la coscoja, la jara, la aulaga, las escobas y las retamas.</p>
                <p>En el Parque de Cornalvo viven más de 200 especies de aves, y una gran variedad de mamíferos, anfibios, reptiles y peces. Algunas de estas especies se encuentran en peligro de extinción, como la cigüeña negra y el jarabugo. 
                    <br>Las aves rapaces son muy frecuentes. Es fácil ver buitres negros y leonados, águilas calzadas y culebreras, milanos reales y negros y algunas aves nocturnas como el búho real y el cárabo. En las dehesas viven algunas aves, como el herrerillo, el carbonero, el pinzón, la curruca, el pico menor y el petirrojo. En los embalses podrás ver zampullines, somormujos, garzas, anades reales y pollas de agua. 
                    <br>Entre los mamíferos abundan los conejos, liebres y jabalíes, junto a otras especies más raras de ver,como el tejón, la jineta, el meloncillo, el gato montés y la nutria.</p>
                <p>Si visita Cornalvo, le recomendamos llevar calzado cómodo, agua y protección solar, especialmente si planea explorar el yacimiento arqueológico y realizar actividades al aire libre.</p>
            </div>

        </div>
    </section>

</main>