<div class="bodyEncuesta formularioEncuesta">
        <div class="contenedorEncuesta container">
            <div id="encInicio" class="encPortada row">
                <div class="bannerEncuesta col-md-6">
                    <h2>Ayuntamiento<br>de<br>Mirandilla</h2><br>
                    <img src="images/escudoMirandilla.png" alt=""/>
                </div>
                <div class="encDivisor col-md"></div>
                <div class="encAccion col-md-6">
                    <h1>Encuesta</h1><br>
                    <p>Esto es una encuesta totalmente anónima para saber más sobre su visita. No le tomará más de un par de minutos.</p>
                    <button id="btnEncComenzar" class="btnEncuesta" type="button" onclick="encuestaSiguiente(1)">Comenzar</button>
                </div>
            </div>

            <!-- - - - - - - - - - - - - - - - - - - - - INICIO - - - - - - - - - - - - - - - - - - - - -->
            [s/$contadorPregunta = 0/s]

            [s/foreach from=$datosPreguntas item=pregunta name=encuesta/s]
            [s/$contadorPregunta = $contadorPregunta + 1/s]
            [s/$contadorPreguntaSig = $contadorPregunta + 1/s]
            [s/$contadorPreguntaVolver = $contadorPregunta - 1/s]

            <div class="row displayNone" id="encPregunta[s/$contadorPregunta/s]">
                <div class="col-md-12">

                    <div class="tituloPregunta justify-content-center">
                        <h3>[s/$contadorPregunta/s]. [s/$pregunta->titulo/s]</h3>
                    </div>
                    <div class="" id="contenidoPregunta[s/$pregunta->pregunta_id/s]">

                        <!-- - - - - - - - - - - - - - - - - - - - -  Pregunta selección - - - - - - - - - - - - - - - - - - - - -->
                        [s/if $pregunta->pregunta_tipo_id==1/s]
                        [s/assign var="contadorSelect" value=$pregunta->selects|count/s]
                        [s/assign var="contadorMostrar" value=0/s]
                        [s/math assign="numCol" equation='x/y' x=12 y=$contadorSelect/s]
                        <div class="row eventPregunta" pregunta_id="[s/$pregunta->pregunta_id/s]" tipo_pregunta="[s/$pregunta->pregunta_tipo_id/s]">

                            [s/foreach from=$pregunta->selects item=viewSelects/s]

                            
                            <div class="col-md-[s/$numCol/s] col-xs-6">
                                <select class="form-control eventPreguntaSelect[s/$pregunta->pregunta_id/s]" id="preguntaSelect[s/$pregunta->pregunta_id/s][s/$viewSelects->select_id/s]"
                                        tipo_pregunta="[s/$pregunta->pregunta_tipo_id/s]" pregunta_id="[s/$pregunta->pregunta_id/s]"
                                        select_id="[s/$viewSelects->select_id/s]"
                                        name="preguntaSelect[s/$pregunta->pregunta_id/s][s/$viewSelects->select_id/s]" onchange="actualizarSelect([s/$pregunta->pregunta_id/s],[s/$viewSelects->select_id/s]);">
                                    <option value="0">Seleccione [s/$viewSelects->select_name/s]</option>

                                    [s/if $viewSelects->select_id==4 && $contadorMostrar==0/s]

                                    [s/foreach from=$paises item=pais/s]
                                    <option value="[s/$pais->country_id/s]" class="eventCountry">[s/$pais->name/s]</option>
                                    [s//foreach/s]
                                    
                                    [s/elseif $viewSelects->select_id==3 && $contadorMostrar==0/s]

                                    [s/foreach from=$comunidades item=comunidad/s]
                                    <option value="[s/$comunidad->comunidad_id/s]" country_id="[s/$comunidad->country_id/s]" class="eventComunidad">[s/$comunidad->name/s]</option>
                                    [s//foreach/s]

                                    [s/elseif $viewSelects->select_id==2 && $contadorMostrar==0/s]

                                    [s/foreach from=$provincias item=provincia/s]
                                    <option value="[s/$provincia->state_id/s]" country_id="[s/$provincia->country_id/s]" comunidad_id="[s/$provincia->comunidad_id/s]" class="eventState">[s/$provincia->name/s]</option>
                                    [s//foreach/s]
                                    <!--falta el de ciudad-->
                                    [s/elseif $viewSelects->select_id==1 && $contadorMostrar==0/s]

                                    [s/foreach from=$ciudades item=ciudad/s]
                                    <option value="[s/$ciudad->city_id/s]" country_id="[s/$ciudad->country_id/s]" state_id="[s/$ciudad->state_id/s]" class="eventCity">[s/$ciudad->name/s]</option>
                                    [s//foreach/s]
                                    [s//if/s]


                                </select>
                            </div>
                            [s/assign var="contadorMostrar" value=$contadorMostrar+1/s]
                            [s//foreach/s]


                        </div>

                        [s/elseif $pregunta->pregunta_tipo_id==2/s] 
                        <!-- - - - - - - - - - - - - - - - - - - - -  Pregunta múltiple simple - - - - - - - - - - - - - - - - - - - - -->
                        <div class="row eventPregunta" pregunta_id="[s/$pregunta->pregunta_id/s]" tipo_pregunta="[s/$pregunta->pregunta_tipo_id/s]">

                            <div class="col-md-12">
                                [s/foreach from=$pregunta->options item=opcion/s]
                                <div class="preguntaMultiple d-grid gap-0">
                                    <input type="radio" id="opcionSimple[s/$pregunta->pregunta_id/s][s/$opcion->opcion_id/s]" 
                                           name="opcionSimple[s/$pregunta->pregunta_id/s]" value="[s/$opcion->opcion_id/s]" class="eventPreguntaSimple[s/$pregunta->pregunta_id/s] btn-check">
                                    <label for="opcionSimple[s/$pregunta->pregunta_id/s][s/$opcion->opcion_id/s]" class="btn btn-SelectOption">[s/$opcion->option_name/s]</label>
                                </div>
                                [s//foreach/s]
                            </div>
                        </div>

                        [s/elseif $pregunta->pregunta_tipo_id==3/s]
                        <!-- - - - - - - - - - - - - - - - - - - - -  Pregunta múltiple varias - - - - - - - - - - - - - - - - - - - - -->
                        <div class="row eventPregunta" pregunta_id="[s/$pregunta->pregunta_id/s]" tipo_pregunta="[s/$pregunta->pregunta_tipo_id/s]">

                            <div class="col-md-12">
                                [s/foreach from=$pregunta->options item=opcion/s]
                                <div class="preguntaMultiple d-grid gap-0" pregunta_id="[s/$pregunta->pregunta_id/s]">
                                    <input type="checkbox" id="opcionMultiple[s/$pregunta->pregunta_id/s][s/$opcion->opcion_id/s]" class="eventPreguntaMultiple[s/$pregunta->pregunta_id/s] btn-check" 
                                           name="opcionMultiple[s/$pregunta->pregunta_id/s][s/$opcion->opcion_id/s]" value="[s/$opcion->opcion_id/s]">
                                    <label for="opcionMultiple[s/$pregunta->pregunta_id/s][s/$opcion->opcion_id/s]" class="btn btn-SelectOption">[s/$opcion->option_name/s]</label>
                                </div>
                                [s//foreach/s]
                            </div>
                        </div>

                        [s/elseif $pregunta->pregunta_tipo_id==4/s]
                        <!-- - - - - - - - - - - - - - - - - - - - -  Pregunta Si/No - - - - - - - - - - - - - - - - - - - - -->
                        <div class="row eventPregunta" pregunta_id="[s/$pregunta->pregunta_id/s]" tipo_pregunta="[s/$pregunta->pregunta_tipo_id/s]">

                            <div class="col-md-12">
                                <div class="preguntaSiNo">
                                    <label><input type="radio" id="respuestaSi[s/$pregunta->pregunta_id/s]" name="respuestaSiNo[s/$pregunta->pregunta_id/s]" value="1" checked>
                                        <span>SI</span></label>
                                    <label><input type="radio" id="respuestaNo[s/$pregunta->pregunta_id/s]" name="respuestaSiNo[s/$pregunta->pregunta_id/s]" value="2">
                                        <span>NO</span></label>
                                </div>
                            </div>
                        </div>
                        [s/elseif $pregunta->pregunta_tipo_id==5/s]
                        <!-- - - - - - - - - - - - - - - - - - - - -  Pregunta texto libre - - - - - - - - - - - - - - - - - - - - -->
                        <div class="row ">

                            <div class="col-md-12">
                                <textarea id="preguntaTexto[s/$pregunta->pregunta_id/s]" name="preguntaTexto[s/$pregunta->pregunta_id/s]" 
                                          rows="5" style="resize: none" class="form-control eventPregunta"
                                          pregunta_id="[s/$pregunta->pregunta_id/s]" tipo_pregunta="[s/$pregunta->pregunta_tipo_id/s]"></textarea>
                            </div>
                        </div>
                        [s/elseif $pregunta->pregunta_tipo_id==6/s]
                        <!-- - - - - - - - - - - - - - - - - - - - -  Pregunta numero libre - - - - - - - - - - - - - - - - - - - - -->
                        <div class="row " >

                            <div class="col-md-12">

                                <input type="number" class="form-control eventPregunta" id="preguntaNumero[s/$pregunta->pregunta_id/s]" 
                                       min="0" name="preguntaNumero[s/$pregunta->pregunta_id/s]"
                                       pregunta_id="[s/$pregunta->pregunta_id/s]" tipo_pregunta="[s/$pregunta->pregunta_tipo_id/s]">
                            </div>
                        </div>
                        [s//if/s]

                        [s/if $pregunta->activar_otros==1/s]
                        <div class="preguntaOtros margin-top20">

                            <label><strong>Otros (por favor especifique):</strong></label>
                            <input class="form-control" type="text" name="respuestaOtros[s/$pregunta->pregunta_id/s]" id="respuestaOtros[s/$pregunta->pregunta_id/s]">

                        </div>
                        [s//if/s]

                        <div class="contenedorBotones">
                            [s/if $pregunta->pregunta_id!=1/s]
                            <button class="btnEncuesta" type="button" onclick="encuestaVolver([s/$contadorPreguntaVolver/s])">◄ Volver</button>
                            [s//if/s]
                            [s/if !$smarty.foreach.encuesta.last/s]
                            <button class="btnEncuesta" type="button" onclick="encuestaSiguiente([s/$contadorPreguntaSig/s])">Siguiente ►</button>
                            [s/elseif $smarty.foreach.encuesta.last/s]
                            <button class="btnEncuesta" type="button" onclick="encuestaEnviarDatos([s/$contadorPregunta/s])">Finalizar</button>
                            [s//if/s]
                        </div>

                    </div>
                </div>
            </div>

            [s//foreach/s]
            
            <!-- - - - - - - - - - - - - - - - - - - - - FIN - - - - - - - - - - - - - - - - - - - - -->

            <div id="encFin" class="encFinal displayNone row">

                <div class="bannerEncuesta col-md-6" >
                    <h2>Ayuntamiento<br>de<br>Mirandilla</h2><br>
                    <img src="images/escudoMirandilla.png" alt="" class=""/>
                </div>
                <div class="encDivisor"></div>
                <div class="encAccion col-md-6">
                    <h2 id="mensajeFinal"></h2>
                </div>

            </div>
        </div>

</div>
</body>
</html>
