<main>

    <section>

        <div class="container text-16">

            <h3 class="color3 margin-top-page">Enlaces de interés</h3>

            <div class="separadorWeb"></div>


            <div class="row">
                <div class=" col-md-6 margin-top20">

                    <div class="">
                        <h4 class="color4"><strong>Diputación de Badajoz</strong></h4>
                        <p>
                            <strong><i class="fa-solid fa-location-dot"></i> Dirección: </strong>c/ Felipe Checa, 23 – 06071 Badajoz
                        </p>
                        <p>
                            <strong><i class="fa-solid fa-phone"></i> Teléfono: </strong><a href="tel:+34924212400">+34 924 212 400</a>
                        </p>

                        <p>
                            <strong><i class="fa-solid fa-envelope"></i> E-mail: </strong><a href="mailto:ayuntamiento@mirandilla.es">ayuntamiento@mirandilla.es</a>
                        </p>

                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Bando móvil</strong></h4>

                        <p>
                            <strong><i class="fa-solid fa-globe"></i> Acceso: </strong><a href="https://www.bandomovil.com/mirandilla" target="_blank">BANDO</a>
                        </p>

                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Canal de denuncias</strong></h4>

                        <p>
                            <strong><i class="fa-solid fa-globe"></i> Acceso: </strong><a href="https://centinela.lefebvre.es/public/concept/1622234?access=q0QJdGK4gr2JeYqd2iOljmXpjk2bYCo6E2hVIj9Nc4c%3D" target="_blank">DENUNCIAS</a>
                        </p>

                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Sede electrónica de Mirandilla</strong></h4>

                        <p>
                            <strong><i class="fa-solid fa-globe"></i> Acceso: </strong><a href="https://sede.mirandilla.es/portal/entidades.do?opcion=0&pes_cod=9&ent_id=1&idioma=1" target="_blank">SEDE ELECTRÓNICA</a>
                        </p>

                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Contratación</strong></h4>

                        <p>
                            <strong><i class="fa-solid fa-globe"></i> Acceso: </strong><a href="https://contrataciondelestado.es/wps/portal/plataforma" target="_blank">CONTRATACIÓN</a>
                        </p>

                    </div>

                </div>

                <div class=" col-md-6 margin-top20">

                    <div>
                        <h4 class="color4"><strong>Consultorio médico</strong></h4>
                        <p>
                            <strong><i class="fa-solid fa-location-dot"></i> Dirección: </strong>C. Marqués de la Encomienda, 1, 06891 Mirandilla, Badajoz
                        </p>
                        <p>
                            <strong>Teléfono 1: </strong><a href="tel:924281225">924 28 12 25</a>
                        </p>
                        <p>
                            <strong>Teléfono 2: </strong><a href="tel:924320071">924 32 00 71</a>
                        </p>
                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Farmacia</strong></h4>
                        <p>
                            <strong><i class="fa-solid fa-location-dot"></i> Dirección: </strong>Av. Extremadura 13
                        </p>
                        <p>
                            <strong><i class="fa-solid fa-phone"></i> Teléfono: </strong><a href="tel:924320818">924 32 08 18</a>
                        </p>

                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Cruz Roja</strong></h4>

                        <p>
                            <strong><i class="fa-solid fa-phone"></i> Teléfono: </strong><a href="tel:924318602">924 31 86 02</a>
                        </p>

                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Bomberos (Mérida)</strong></h4>

                        <p>
                            <strong><i class="fa-solid fa-phone"></i> Teléfono: </strong><a href="tel:924372861">924 37 28 61</a>
                        </p>

                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Ambulatorio (Mérida)</strong></h4>

                        <p>
                            <strong><i class="fa-solid fa-phone"></i> Teléfono: </strong><a href="tel:924303761">924 30 37 61</a>
                        </p>

                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Hospital de Mérida</strong></h4>

                        <p>
                            <strong><i class="fa-solid fa-phone"></i> Teléfono: </strong><a href="tel:924381000">924 38 10 00</a>
                        </p>

                    </div>

                    <div class="margin-top20"></div>

                    <div>
                        <h4 class="color4"><strong>Emergencias</strong></h4>

                        <p>
                            <strong><i class="fa-solid fa-phone"></i> Teléfono: </strong><a href="tel:112">112</a>
                        </p>

                    </div>

                </div>

            </div>



            
            
            
            
            
            

        </div>
    </section>

</main>