<main>

    <section>

        <div class="container text-16">

            <h3 class="color3 margin-top-page">Ermita de San Roque</h3>

            <div class="separadorWeb"></div>

            <div class="margin-top20">
                <p>
                    Sencilla obra del XVI, de planta rectangular compartimentada interiormente en dos ámbitos.
                    Se celebra una romería popular.
                </p>

            </div>
            
            <div class="row margin-top10">
                
                <div class="col-md-12 margin-top10">
                    <img src="images/web/ermitasanroque.jpg" alt="Ermita de San Isidro Labrador">
                </div>
                
            </div>

        </div>
    </section>

</main>