<main>

    <section>

        <div class="container text-16">

            <h3 class="color3 margin-top-page">Ermita de San Isidro</h3>

            <div class="separadorWeb"></div>

            <div class="margin-top20">
                <p>
                    Ermita erigida en honor al Santo de San Isidro.
                </p>

            </div>
            
            <div class="row margin-top10" id="fotosPueblo">
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/ermita2.jpg" alt="Ermita de San Isidro Labrador" class="foto-web">
                </div>
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/ermitasanisidro.jpg" alt="Ermita de San Isidro" class="foto-web">
                </div>
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/alrededores_ermita.jpg" alt="Base Iglesia parroquial de Santa María Magdalena" class="foto-web">
                </div>
                
            </div>

        </div>
    </section>

</main>