<main>

    <section>

        <div class="container text-16">

            <h3 class="color3 margin-top-page">Fiestas y tradiciones</h3>

            <div class="separadorWeb"></div>

            <div class="margin-top20">
                
                <h4 class="color4"><strong>SAN ISIDRO (15 mayo):</strong></h4>
                <p>
                Mirandilla siempre fue en el pasado una población agrícola y campesina. Su principal fuente de riqueza ha estado y en buena parte todavía sigue estando en el campo, en sus tierras de labor, en las sementeras, en sus olivares y viñedos, en sus dehesas y en los demás productos agrícolas y ganaderos que produce.
Por eso el día 15 de mayo se celebra una romería en el pueblo en honor de San Isidro, Patrón de la gente del campo y cuya imagen es tradición de época inmemorial en Mirandilla que ese día sea sacada en procesión y llevada hasta la ermita erigida en honor de dicho Santo.     
                </p>
                
                <h4 class="color4"><strong>SANTA Mª MAGDALENA. Fiesta Patronales (22 de julio):</strong></h4>
                
                <p>
                Las fiestas patronales de Mirandilla o fiesta mayor, se celebran el día 22 de julio de cada año, en honor de Santa María Magdalena, su Patrona. Esto es así desde que el pueblo recuperó la imagen de la Santa que en 1770 fue trasladada desde su anterior ermita de Muñina hasta la iglesia de Santa Eulalia de Mérida, según lo dispuesto por el Vicario de esta ciudad.     
                </p>
                
                <h4 class="color4"><strong>ASUNCIÓN DE LA VIRGEN (15 de agosto)</strong></h4>
                
                <h4 class="color4"><strong>FIESTA DE SAN ROQUE (16 de agosto):</strong></h4>
                
                <p>
                    Es otra de las fiestas de Mirandilla destacada por su profunda y antiquísima tradición, ya que data al menos desde el siglo XVI, que fue cuando se erigió la ermita bajo su advocación. Y es este otro Santo al que este pueblo tiene una especial devoción.
                </p>
                
                <p>
                    Ese día, la gente va también a oír misa en honor de su Patrón y en ella se canta el Himno de San Roque.
También ahora de le llama la Fiesta del Emigrante, porque a mediados de agosto es cuando más suelen ir los emigrantes que están fuera a reencontrarse con su pueblo, con su gente y con sus familiares.
                </p>
                

            </div>


        </div>
    </section>

</main>