<main>

    <section>

        <div class="container text-16">

            <h3 class="color3 margin-top-page">Historia</h3>

            <div class="separadorWeb"></div>

            <div class="margin-top20">
                <p>
                    Como dato que afirma la existencia primitiva del lugar es el naranjal existente en el sitio de la Atalaya, dotado de un complejo sistema de riego al que se atribuye origen romano, visigodo o árabe. 
                </p>
                
                <p>
                    Tras la conquista cristiana de Mérida, en el año 1230, el territorio de Mirandilla continúa integrado en el emeritense; y de la kura o kora emeritense de la época musulmana pasó a formar parte del Castillo Terminado de Mérida, primero como donadío exclusivo del Arzobispado de Santiago de Compostela y, a partir de 1231, como posesión compartida entre éste y la Orden de Santiago.
                </p>
                
                <p>
                    Su fundación fue realizada en el siglo XIII por gentes oriundas de Miranda de Ebro; y según otras, en el XIV, por pobladores portugueses llegados de Miranda de Duero. De su reducido núcleo inicial y del origen de sus primeros ocupantes se hace derivar el topónimo de Mirandilla. Se unieron más tarde los enclaves inmediatos de la Atalaya de Ramos y Muñina, consolidando un asentamiento de mayor entidad.
                </p>
                
                <p>
                    En el año 1235 se formalizó el primer Ayuntamiento de Mérida y de su Término, al concederle el Arzobispado y la Orden su primer Fuero. Esta formalización administrativa, que afectará a Mirandilla hasta su independencia, se hace bajo el tipo de Comunidad de Villa y Tierra; en el caso emeritense, estructura el territorio de forma que alrededor de una Villa o Ciudad existen, bajo su dependencia jurisdiccional, numerosas aldeas que comparten derechos y deberes, tanto civiles como militares.
                </p>

                
            </div>
            
            <div class="row margin-top10" id="fotosPueblo">
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/mirandilla3.jpg" alt="Bienvenida Mirandilla" class="foto-web">
                </div>
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/mirandilla2.jpg" alt="Vista pueblo mirandilla" class="foto-web">
                </div>
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/mirandilla4.jpg" alt="Entrada Mirandilla" class="foto-web">
                </div>
                
            </div>
            
            <div class="margin-top20">
                
                <p>
                    En base al dominio solar o uso propietario y señorío jurisdiccional, que la Orden ejercía sobre sus territorios, en 1275 el maestre Gonzalo Ruiz de Girón concedió a las aldeas emeritenses cierta autonomía municipal al disponer que tuviesen alcaldes por si, y sobre si. Este privilegio permitía a los mirandillanos, disponer de un Ayuntamiento Pedáneo compuesto por alcalde, regidores y oficiales. Según las Ordenanzas Municipales de Mérida y su Tierra la autoridad de este Ayuntamiento no alcanzaba a los habitantes de la ciudad que delinquían en su término aldeano.
                </p>
                
                <p>
                    Mirandilla adquiere definitivamente su independencia municipal, tras la Década Ominosa, en el año 1835 durante el Reinado de Isabel II y bajo la Regencia de su madre la Reina Gobernadora María Cristina de Borbón y el gobierno del Conde de Toreno, liberal moderado.
                </p>
                
            </div>
            
            <div class="margin-top20">
                
                <div class="row">
                    
                    <div class="col-md-4">
                        
                    </div>
                    
                    <div class="col-md-4">
                        <p class="text_center">
                            <i>Dos leguas de Mérida fundaron los antiguos Lusitanos este lugar, quando vinieron conquistando esta tierra contra los Moros, y le pusieron el nombre en memoria de su patria, que era Miranda de Duero en 1330. Es abundante de pan, vino y ganados, con 200 vecinos en una Parroquia, y dos Ermitas. Hay en lo baxo de la sierra llamada Ramos, cerca ae aqui, un naranjal muy antiguo, que tienen tradicion sus naturales es del tiempo de los Romanos, por la encañadura de agua que le riega, obra de ellos ; el qual conservaron los Godos y Moros, y aún permanece en el presente siglo. </i>
                        </p>
                        <p class="text_center">
                            <strong>- Poblacion General de España, J.A. Estrada Tomo I Madrid 1768- </strong>
                        </p>
                    </div>
                    
                    <div class="col-md-4">
                        
                    </div>
                    
                </div>
                
                
                
               
                
            </div>
            
            

        </div>
    </section>

</main>