<main>

    <section>

        <div class="container text-16">

            <h3 class="color3 margin-top-page">Iglesia parroquial de Santa María Magdalena</h3>

            <div class="separadorWeb"></div>

            <div class="margin-top20">
                <p>
                    La iglesia parroquial de Santa María Magdalena fue erigida en el siglo XVI, posiblemente sobre otra anterior construcción religiosa existente.
                    Su planta es de nave única, con torre fachada de sillería de acusado protagonismo, en la que se abre una hermosa portada.
                    Otra de mayor antigüedad aparece en el lado de la Epístola.
                </p>
                
                <p>
                    La cabecera, de mayor altura que la nave, es cuadrada, con cúpula sobre trompas. En el costado del Evangelio se anejan cinco capillas con cubiertas de diferentes tipos, y la sacristía, ésta con una interesante ventana gótica de arco conopial, hoy tapiado.
                    El retablo mayor es pieza barroca de buena factura, compuesto por un sólo cuerpo con gran ático.
                    
                </p>
                
                <p>
                    El retablo remonta su origen a la costumbre litúrgica de poner reliquias de los santos sobre los altares.
                    Cuando éstas se agotaron, hubo que contentarse con colocar imágenes. Esta costumbre continuó durante el Renacimiento (siglos XV y XVI),
                    pero seguramente fue en el Barroco (siglos XVII y XVIII), cuando el retablo alcanzó el mayor grado de plenitud. No hubo entonces en España templo
                    desde la enorme catedral hasta la más modesta de las ermitas, que no tuviese un esplendoroso retablo.
                </p>
                
                <p>
                    En el caso del retablo de la iglesia de Santa María Magdalena se ve claramente la división de tres partes diferenciadas, siendo la parte central la de mayor protagonismo albergando la imagen principal y el sagrario del altar principal.
                </p>
                
                <p>
                    Además, con la vibración de sus formas, lo tupido de su decoración y la multiplicidad de sus imágenes, confiere al templo de Mirandilla,
                    de muros rígidos, inertes y cortados en ángulos rectos, una sensación de movilidad y expansión del espacio del que estructuralmente a priori carece.
                    Los retablos en general provocaban así un ilusionismo muy característico del Barroco, en que la dicotomía entre fondo y figura, entre superficie y realidad queda sólo engañosamente resuelta.
                </p>
            </div>
            
            <div class="row margin-top10" id="fotosPueblo">
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/iglesia2.jpg" alt="Iglesia parroquial de Santa María Magdalena" class="foto-web">
                </div>
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/cruziglesia.jpg" alt="Cruz iglesia" class="foto-web">
                </div>
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/iglesia3.jpg" alt="Base Iglesia parroquial de Santa María Magdalena" class="foto-web">
                </div>
                
            </div>

        </div>
    </section>

</main>