<main>
    <!-- Fin de la sección inicial, inicio de la siguiente sección -->
    <section>

        <div class="containerFoto">
            <img src="images/web/portada.jpg">

        </div>

        <div class="container text-16">

            <h2 class="margin-top40 text_center color3"><strong>Bienvenida</strong></h2>

            <div class="margin-top20 text_center">
                <div class="row">

                    <div class="col-md-12">
                        Desde el ayuntamiento de Mirandilla quisiéramos, antes de nada, darle la bienvenida a todos los usuarios que están consultando nuestro sitio web.
                        Con la idea de acercanos a cualquier tipo de persona, facilitar la comunicación e interacción con el ayuntamiento. Y con la esperanza de que podáis encontrar solución y/o respuesta de la forma más rápida a las dudas que podáis tener.
                        Ya sea un ciudadanos de Mirandilla, para que tengan a su alcance y de manera más sencilla las consultas con el ayuntamiento. Como al resto de personas, ajenas a la localidad y que simplemente quieran informarse de los que puede proporcionarles nuestro pueblo a ellos o viceversa.

                    </div>

                </div>

                <div class="row margin-top20">


                    <div class="col-md-12">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/HZiAO_tf2oE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>

            </div>

            <div class="margin-top40">

                <h3 class="color3">Lugares de interés</h3>

                <div class="separadorWeb"></div>

                <div class="row">

                    <div class="col-md-4 margin-top20">

                        <div class="card">
                            <img src="images/web/ayuntamiento.jpg" class="card-img-top" alt="Ayuntamiento de Mirandilla">
                            <div class="card-body background_color4 botonWeb">
                                <a href="ayuntamiento" class="colorBlack">Ayuntamiento</a>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-4 margin-top20">

                        <div class="card">
                            <img src="images/web/iglesia.jpg" class="card-img-top" alt="Iglesia parroquial de Santa María Magdalena">
                            <div class="card-body background_color4 botonWeb">
                                <a href="iglesia" class="colorBlack">Iglesia parroquial de Santa María Magdalena</a>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-4 margin-top20">

                        <div class="card">
                            <img src="images/web/cornalvo_small.jpg" class="card-img-top" alt="Cornalvo">
                            <div class="card-body background_color4 botonWeb">
                                <a href="cornalvo" class="colorBlack">Cornalvo</a>
                            </div>
                        </div>


                    </div>

                </div>
                
                <div class="row">

                    <div class="col-md-4 margin-top20">

                        <div class="card">
                            <img src="images/web/ermitasanisidro.jpg" class="card-img-top" alt="Ermita de San Isidro">
                            <div class="card-body background_color4 botonWeb">
                                <a href="ermitasanisidro" class="colorBlack">Ermita de San Isidro</a>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-4 margin-top20">

                        <div class="card">
                            <img src="images/web/ermitasanroque.jpg" class="card-img-top" alt="Ermita de San Roque">
                            <div class="card-body background_color4 botonWeb">
                                <a href="ermitasanroque" class="colorBlack">Ermita de San Roque</a>
                            </div>
                        </div>


                    </div>


                </div>


            </div>

            <div class="margin-top40">

                <h3 class="color3">Servicios</h3>

                <div class="separadorWeb"></div>

                <div class="row">

                    <div class="col-md-3">

                        <div class="card">
                            
                            <div class="card-body background_color4 text_center botonWeb">
                                <a href="https://sede.mirandilla.es/portal/entidades.do?opcion=0&pes_cod=9&ent_id=1&idioma=1" target="_blank" class="colorBlack"><i class="fa-solid fa-globe"></i> Sede electrónica</a>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-3">

                        <div class="card">

                            <div class="card-body background_color4 text_center botonWeb">
                                <a href="https://contrataciondelestado.es/wps/portal/plataforma" target="_blank" class="colorBlack"><i class="fa-solid fa-file"></i> Plataforma de contratación del estado</a>
                            </div>
                        </div>


                    </div>
                    
                    <div class="col-md-3">

                        <div class="card">

                            <div class="card-body background_color4 text_center botonWeb">
                                <a href="https://centinela.lefebvre.es/public/concept/1622234?access=q0QJdGK4gr2JeYqd2iOljmXpjk2bYCo6E2hVIj9Nc4c%3D" target="_blank" class="colorBlack"><i class="fa-solid fa-shield-halved"></i> Canal de denuncias</a>
                            </div>
                        </div>


                    </div>
                    
                    <div class="col-md-3">

                        <div class="card">

                            <div class="card-body background_color4 text_center botonWeb botonWeb">
                                <a href="https://www.bandomovil.com/mirandilla" target="_blank" class="colorBlack"><i class="fa-solid fa-mobile-screen-button"></i> Bando móvil</a>
                            </div>
                        </div>


                    </div>

                </div>


                <div class="row margin-top20">

                    <div class="col-md-3">

                        <div class="card">

                            <div class="card-body background_color4 text_center botonWeb">
                                <a href="https://www.google.es/maps/place/06891+Mirandilla,+Badajoz/@38.9990877,-6.3024245,3475m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd142f6ef49985e7:0x63537dd4dc1b39b!8m2!3d39.0018564!4d-6.2920425!16s%2Fm%2F02z7l_p?hl=es" target="_blank" class="colorBlack"><i class="fa-solid fa-map"></i> Callejero</a>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-3">

                        <div class="card">

                            <div class="card-body background_color4 text_center botonWeb">
                                <a href="https://www.aemet.es/es/eltiempo/prediccion/municipios/mirandilla-id06084" target="_blank" class="colorBlack"><i class="fa-solid fa-sun"></i> El tiempo</a>
                            </div>
                        </div>


                    </div>
                    
                    <div class="col-md-3">

                        <div class="card">

                            <div class="card-body background_color4 text_center botonWeb">
                                <a href="encuesta" target="_blank" class="colorBlack"><i class="fa-solid fa-square-poll-vertical"></i> Encuesta</a>
                            </div>
                        </div>

                    </div>

                </div>
                
            </div>


        </div>

    </section>
</main>