<main>
    <!-- Fin de la sección inicial, inicio de la siguiente sección -->
    <section>

        <div class="containerFoto d-flex justify-content-center">
            <div id="carouselExampleIndicators" class="carousel carroInicio slide h-100" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" style="max-height: 465px;">
                  [s/$primera = true/s]
                  [s/foreach from=$historias_carro item=carro/s]
                  <div class="carousel-item [s/if $primera/s]active[s//if/s]">
                    <div class="carousel-overlay" style="position: absolute;top: 70%;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);"></div>
                    <a href="rutaSeleccionada/[s/$carro->historia_id/s]"><img class="d-block w-100" src="[s/$carro->portada/s]" alt="First slide"  style="max-height: 465px;"></a>
                    <div class="carousel-caption d-none d-md-block color4">
                        <h4><a href="rutaSeleccionada/[s/$carro->historia_id/s]">[s/$carro->titulo/s]</a></h4>
                        <p>Género: [s/$carro->nombre_genero/s]</p>
                    </div>
                  </div>
                  [s/$primera = false/s]
                  [s//foreach/s]
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
            
<button
        type="button"
        class="btn btn-floating btn-lg "
        style="background-color: #e38b00"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>

        <div class="container text-16">

            <h2 class="margin-top40 text_center color3"><strong>Bienvenido</strong></h2>

            <div class="margin-top20 text_center">
                <div class="row">

                    <div class="col-md-12">
                        ¿Alguna vez has querido ser el protagonista de una historia épica, tomar decisiones cruciales y ver cómo tus elecciones afectan el desenlace? En <b>QuillQuest</b>, tienes la oportunidad de hacerlo. Aquí, las historias no solo se leen, ¡se viven!
<br><br>
Explora historias llenas de posibilidades donde cada elección que tomes te llevará a nuevos caminos, giros inesperados y finales sorprendentes. Ya sea que quieras enfrentarte a dragones, resolver misterios intrigantes o explorar tierras desconocidas, en <b>QuillQuest</b> tú eres el héroe y cada decisión cuenta.
<br><br>
¡Que comience la aventura!

                    </div>

                </div>

            </div>

            <div class="margin-top40">

                <h3 class="color3">Últimas historias</h3>

                <div class="separadorWeb"></div>

                <div class="row">
                    [s/foreach from=$historias item=historia/s]
                    <div class="col-md-4 margin-top20">
                        <div class="card">
                            <div  style=" height: 190px; overflow: hidden; background-color: #ffbc44 ">
                                <img src="[s/$historia->portada/s]" class="card-img-top portadaHistoriaWeb">
                            </div>
                            <div class="card-body background_color4 botonWeb">
                                <a href="rutaSeleccionada/[s/$historia->historia_id/s]" class="background_color4"><b>[s/$historia->titulo/s] </b><br><span>Género: [s/$historia->nombre_genero/s]</span><br>
                                <span>Autor: [s/$historia->name/s] [s/$historia->lastname/s]</span></a>
                                
                            </div>
                        </div>
                    </div>
                    [s//foreach/s]
                </div>


            </div>
        </div>

    </section>
</main>