<main>

    <section>

        <div class="container text-16">

            <h3 class="color3 margin-top-page">Turismo</h3>

            <div class="separadorWeb"></div>

            <div class="margin-top20">
                <p>
                    Las crónicas mencionan un antiguo naranjal situado en este lugar junto a la Atalaya. Este, estaba dotado de un complejo sistema de riego, de cuya procedencia se duda si fue romano, visigodo o árabe.
                </p>
                
                <p>
                    Uno de los monumentos a destacar podría la <a href="iglesia">Iglesia parroquial de Santa María Magdalena</a>, del siglo XVI , posiblemente sobre otra iglesia anterior. Con una planta de nave única, torre fachada de sillería, en la que se abre una hermosa portada.
Otra de mayor antigüedad aparece en el lado de la Epístola, con cúpula sobre trompas. En su interior se encuentran cinco capillas con cubiertas de diferentes tipos, y la sacristía, ésta con una interesante ventana gótica de arco conopial. El retablo mayor esta constituido por una pieza barroca, compuesto por un sólo cuerpo con gran ático.
                </p>
                
                <p>
                    Otra mención de interés son la <a href="ermitasanroque">ermita de San Roque</a>, también realizada en el siglo XVI, y la casa solariega del Marqués de la Encomienda, en la fachada de dicha casa, luce el blasón con águila coronada de los Vera emeritenses, con la leyenda «Véritas Vinci«.
                </p>
                
                <p>
                    Fuera de la localidad, a escasos km de distancia, se encuentra el <a href="cornalvo">Parque Natural de Cornalvo</a>.
Un entorno natural formado por encinas, alcornoques, una gran variedad de mamíferos, aves… El lugar perfecto para disfrutar de la naturaleza.
En dicho mismo Parque se encuentra la presa de Cornalvo, de época romana y con una longitud de 220m y hasta 18m de altura, fue declarada Patrimonio de la Humanidad por la Unesco en 1993. 
                </p>

            </div>
            
            <div class="row margin-top10" id="fotosPueblo">
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/iglesia.jpg" alt="Ermita de San Isidro Labrador" class="foto-web">
                </div>
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/ermitasanroque.jpg" alt="Ermita de San Isidro" class="foto-web">
                </div>
                
                <div class="col-md-4 margin-top10">
                    <img src="images/web/cornalvo_small.jpg" alt="Parque natural de Cornalvo" class="foto-web">
                </div>
                
            </div>

        </div>
    </section>

</main>