<main>

    <section>

        <div class="container text-16">

            <h3 class="color3 margin-top-page">Ubicación</h3>

            <div class="separadorWeb"></div>

            <div class="">

                A tan solo 13km de la capital de la comunidad autónoma, Mérida. Situado al norte de Trujillanos y San Pedro de Mérida y perteneciente a la comarca de Tierra de Mérida – Vegas Bajas.
                Cerca de la provincia de Cáceres y con una altitud media de 300 metros sobre el nivel del mar.
            </div>

            <div class="text_center margin-top20">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12402.844695988906!2d-6.302424509429087!3d38.9990876988938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd142f6ef49985e7%3A0x63537dd4dc1b39b!2s06891%20Mirandilla%2C%20Badajoz!5e0!3m2!1ses!2ses!4v1669588125558!5m2!1ses!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
            <div class="margin-top20">
                Se encuentra situada la localidad, a escasos km del Parque Natural de Cornalvo. Dicho parque es gran representación del entorno extremeño, constituido por la Dehesa de encinas y alcornoques y con más de 250 especies de vertebrados habitando este lugar y aun más fuera de esta clasificación, animales como el gato montés, la cigüeña negra, elanio azul…
            </div>

        </div>
    </section>

</main>