<div class="container containerQr">
    <div class="row">
        <h2>Encuesta</h2>
        <div class="qrEncuesta col-12"><img src="images/qr/encuestaQr.png"></div><br>
        <div class="col-12 my-4"><p><em>Escanee el código QR para visualizar la encuesta</em></p></div>
    </div>
    <div class="row">
        <div class="btnQr col-12"><a class="btn btn-info" href="documents/qr.pdf" target="_blank">Abrir PDF</a></div>
        <div class="btnQr col-12 my-2"><a class="btn btn-secondary" download="encuestaQr.png" href="images/qr/encuestaQr.png" title="EncuestaQr" target="_blank">Descargar imagen</a></div>
    </div>
</div>