<footer>

    <div class="row padding-top40 colorWhite">
        
        <div class="col-md-4">
            
        </div>
        
        <div class="col-md-4">
            
            <div class="text_center">
                <img src="[s/$urlExtra/s]images/logo/vertical_claro_sin_fondo.png" alt="logo" style="width: 200px;">
            </div>
            
            <div class="margin-top20 text_center">
                <p>Desarrollo de Aplicaciones Web, 2024</p>
                <p>Email: 
                    <a href="mailto:g.v.mario96@gmail.com" class="colorWhite">
                        <span class="d-md-inline-block" style="color: #ffbc44 !important;">g.v.mario96@gmail.com</span>
                    </a>
                </p>
                    
            </div>
            
            <div class="text_center row">

                <div class="col-md-6">
                    <img src="[s/$urlExtra/s]images/logoalbarregasnegativo.png" alt="logo Albarregas" class="imgLogoJunta">
                </div>
                
                <div class="col-md-6">
                    <img src="[s/$urlExtra/s]images/wilowi.png" alt="logo Wilowi" style="max-width: 143px;">
                </div>
                
                <div class="col-12 d-flex justify-content-center align-items-center text-center mt-2">
                    Logotipo: <a class="color4" style="color: #ffbc44 !important; margin: 5px;" href="https://www.instagram.com/lacuerva.tattoo" target="_blank">@lacuerva.tattoo</a> <img src="[s/$urlExtra/s]images/social/ig.png" style="width: 15px; height: 15px; margin-left: 10px;">
                </div>
            </div>
            
            
        </div>
        
        <div class="col-md-4">
            
        </div>
        
    </div>
    
    <div class="row text_center">
        
        <div class="col-md-4">
            
        </div>
        
        <div class="col-md-4">
            
        </div>
        
    </div>
    
    <div class="row margin-top20 colorWhite">
        
        <div class="col-md-12 text_center">
            © [s/$year/s] QuillQuest
        </div>
        
        <div class="col-md-12 text_center">
            Design by: <a style="color: #ffbc44 !important;" href="https://www.wilowi.com" target="_blank" class="color3">Mario González Vega</a>
        </div>
        
    </div>
    

</footer>