<footer>

    <div class="row padding-top40 colorWhite">
        
        <div class="col-md-4">
            
        </div>
        
        <div class="col-md-4">
            
            <div class="text_center">
                <img src="[s/$urlExtra/s]images/escudoMirandilla.png" alt="logo ayuntamiento de mirandilla">
            </div>
            <div class="text_center">
                Ayuntamiento de Mirandilla
            </div>
            
            <div class="margin-top20 text_center">
                <p>Pl. España, 06891 Mirandilla, Badajoz</p>
                <p>Teléfono: 
                    <a href="tel:924320647" class="colorWhite">
                                                   
                        <span class="d-md-inline-block">924 32 06 47</span>
                    </a>
                </p>
                <p>Fax: <span class="d-md-inline-block">924 32 05 14</span>
                </p>
                <p>Email: 
                    <a href="mailto:ayuntamiento@mirandilla.es" class="colorWhite">
                        
                        <span class="d-md-inline-block">ayuntamiento@mirandilla.es</span>
                    </a>
                </p>
                    
            </div>
            
            <div class="text_center row">

                <div class="col-md-6">
                    <img src="[s/$urlExtra/s]images/web/logotipo-de-la-junta-de-extremadura.png" alt="logo Junta de Extremadura" class="imgLogoJunta">
                </div>
                
                <div class="col-md-6">
                    <img src="[s/$urlExtra/s]images/web/logotipo-union-europea.png" alt="logo Unión Europea">
                </div>
            </div>
            
            
        </div>
        
        <div class="col-md-4">
            
        </div>
        
    </div>
    
    <div class="row text_center">
        
        <div class="col-md-4">
            
        </div>
    
        <div class="col-md-4">
                
                <div class="divJunta">
                    <div class="colorGreen">
                        <strong>JUNTA DE EXTREMADURA</strong>
                    </div>

                    <div class="colorGreen margin-top10">
                        <strong>Consejería de 
                        Economía, Ciencia y Agenda Digital</strong>
                    </div>

                    <div class="">
                        <strong>Proyecto para el desarrollo de Pueblos Inteligentes </strong>
                    </div>

                    <div class="">
                        <u>Subvención concedida</u>: 26.403,54 €
                    </div>

                    <div class="margin-top10">
                        Mejorar el uso de las TIC y el acceso a las mismas
                        Fondo Europeo de Desarrollo Regional
                        Una manera de hacer Europa
                    </div>
                </div>
                
            </div>
        
        <div class="col-md-4">
            
        </div>
        
    </div>
    
    <div class="row margin-top20 colorWhite">
        
        <div class="col-md-12 text_center">
            © [s/$year/s] Ayuntamiento de Mirandilla |
            <span>
                <a href="[s/$urlExtra/s]aviso_legal" class="color4">Aviso Legal</a> |
            </span>
            
            <span>
                <a href="[s/$urlExtra/s]proteccion_datos" class="color4">Protección de datos</a> |
            </span>
            <span>
                <a href="[s/$urlExtra/s]cookies" class="color4">Política de cookies</a> |
            </span>
        </div>
        
        <div class="col-md-12 text_center">
            Design by: <a href="https://www.wilowi.com" target="_blank" class="color3">Wilowi</a>
        </div>
        
    </div>
    

</footer>