<script src="[s/$urlLib/s]components/jquery/jquery.min.js"></script>
<script src="[s/$urlLib/s]components/jqueryui/jquery-ui.min.js"></script>
<script src="[s/$urlLib/s]twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="[s/$urlLib/s]fortawesome/font-awesome/js/solid.min.js"></script>
<script src="[s/$urlLib/s]fortawesome/font-awesome/js/fontawesome.min.js"></script>
<script src="[s/$urlJsConfig/s]"></script>
<script src="[s/$urlJsComun/s]"></script>
<script src="[s/$urlJsCntrl/s]"></script>

[s/if $apiGoogle==1/s]
<script src="[s/$urlJsRutas/s]"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkMtgzeaOQz8OaG4yoR_7TWAg1KuxphAk&callback=initMap&v=weekly"></script>

[s//if/s]


