<script src="[s/$urlLib/s]components/jquery/jquery.min.js"></script>
<script src="[s/$urlLib/s]components/jqueryui/jquery-ui.min.js"></script>
<script src="[s/$urlLib/s]twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="[s/$urlLib/s]fortawesome/font-awesome/js/solid.min.js"></script>
<script src="[s/$urlLib/s]fortawesome/font-awesome/js/fontawesome.min.js"></script>
<script src="[s/$urlExtra/s]Trumbowyg/dist/trumbowyg.min.js"></script>
<script src="[s/$urlExtra/s]DataTables/datatables.min.js"></script>
<script src="[s/$urlExtra/s]DataTables/Buttons-2.2.2/js/dataTables.buttons.min.js"></script>
<script src="[s/$urlExtra/s]DataTables/Buttons-2.2.2/js/buttons.html5.min.js"></script>
<script src="[s/$urlExtra/s]DataTables/JSZip-2.5.0/jszip.min.js"></script>
<script src="[s/$urlExtra/s]DataTables/buttons-excel-styles/buttons.html5.styles.min.js"></script>
<script src="[s/$urlExtra/s]DataTables/buttons-excel-styles/buttons.html5.styles.templates.min.js"></script>
<script src="[s/$urlJsConfig/s]"></script>
<script src="[s/$urlJsComun/s]"></script>
<script src="[s/$urlJsCntrl/s]"></script>
<script src="[s/$urlJsCntrlCore/s]"></script>
<script src="[s/$urlJsCntrlSimple/s]"></script>
<script src="[s/$urlJsCntrlChart/s]"></script>
<script src="[s/$urlJsCntrlUtils/s]"></script>