<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<meta name="robots" content="[s/$robots/s]">	
	<meta name="author" content="Wilowi">
	<meta http-equiv="expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="description" content="[s/$descripcion/s]">
	<meta name="keywords" content="[s/$keywords/s]">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="lib/coreui/assets/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
	<title>[s/$title/s]</title>
	<link rel="shortcut icon" href="favicon.ico">        
	<link rel="stylesheet" type="text/css" href="[s/$urlCss/s]normalize.css" media="all">
	<link rel="stylesheet" type="text/css" href="[s/$urlCssComun/s]" media="all">
	<link rel="stylesheet" type="text/css" href="[s/$urlCssCntrl/s]" media="all">        
	<link rel="stylesheet" href="[s/$urlLib/s]components/jqueryui/themes/base/jquery-ui.min.css">
	<link rel="stylesheet" href="[s/$urlLib/s]twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="apple-touch-icon" sizes="57x57" href="lib/coreui/assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="lib/coreui/assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="lib/coreui/assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="lib/coreui/assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="lib/coreui/assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="lib/coreui/assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="lib/coreui/assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="lib/coreui/assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="lib/coreui/assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="lib/coreui/assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="lib/coreui/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="lib/coreui/assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="lib/coreui/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="lib/coreui/assets/favicon/manifest.json">
        <link rel="stylesheet" href="[s/$urlLib/s]fortawesome/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="[s/$urlLib/s]fortawesome/font-awesome/css/solid.min.css">	
        <link rel="stylesheet" href="[s/$urlExtra/s]Trumbowyg/dist/ui/trumbowyg.min.css">
        <link rel="stylesheet" href="[s/$urlExtra/s]DataTables/datatables.min.css">
	<link rel="stylesheet" href="[s/$urlExtra/s]DataTables/Buttons-2.2.2/css/buttons.dataTables.css">
        <link rel="stylesheet" href="[s/$urlCssSimpleBarVendor/s]">
        <link rel="stylesheet" href="[s/$urlCssSimpleBar/s]">
        <link rel="stylesheet" href="[s/$urlCssStyle/s]" >
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        
    </head>
    <body id="body">

