<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="robots" content="[s/$robots/s]">	
	<meta name="author" content="Wilowi">
	<meta http-equiv="expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="description" content="[s/$descripcion/s]">
	<meta name="keywords" content="[s/$keywords/s]">
        
	<title>[s/$title/s]</title>
	<link rel="shortcut icon" href="favicon.ico">
        
	<link rel="stylesheet" type="text/css" href="[s/$urlCss/s]normalize.css" media="all">
	<link rel="stylesheet" type="text/css" href="[s/$urlCssComun/s]" media="all">
	<link rel="stylesheet" type="text/css" href="[s/$urlCssCntrl/s]" media="all">        
	<link rel="stylesheet" href="[s/$urlLib/s]components/jqueryui/themes/base/jquery-ui.min.css">
        <link rel="stylesheet" href="[s/$urlLib/s]twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="[s/$urlLib/s]fortawesome/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="[s/$urlLib/s]fortawesome/font-awesome/css/solid.min.css">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    </head>
    <body id="body">

