<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="mailto:g.v.mario96@gmail.com" class="colorBlack">
                    <i class="fa-regular fa-envelope padding-right10 color4"></i>
                    <span class="d-md-inline-block color4">quillqueststories@gmail.com</span>
                </a>
                <div class="float_right">
                    <img src="../QuillQuest/images/social/ig.png" class="mx-1" style="width: 30px; margin-top: -4px;" onerror="this.onerror=null;this.src='../../QuillQuest/images/social/ig.png';">
                    <img src="../QuillQuest/images/social/fb.png" class="mx-1" style="width: 30px; margin-top: -4px;" onerror="this.onerror=null;this.src='../../QuillQuest/images/social/fb.png';">
                    <img src="../QuillQuest/images/social/x.png" class="mx-1" style="width: 30px; margin-top: -4px;" onerror="this.onerror=null;this.src='../../QuillQuest/images/social/x.png';">
                </div>
            </div>
        </div>
    </div>
</div>

[s/if $show_menu/s]
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light menu-fixed menuPrincipalPueblo" style="background-color: #121212 !important; border-bottom: solid 1px white;" id_menu="1">

        <a class="navbar-brand padding-left40" href="[s/$url/s]">
            <img src="[s/$urlExtra/s]images/logo/horizont_claro_sin_fondo.png" height="50" class="d-inline-block align-top" alt="logo">
        </a>
        
        <button class="navbar-dark navbar-toggler border border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto padding-right40">
                <li class="nav-item active">
                    <a class="nav-link" href="[s/$url/s]">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="[s/$urlExtra/s]descubre">Descubre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="[s/$urlExtra/s]admin">[s/if !$testt/s]Iniciar sesión[s//if/s]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="[s/$urlExtra/s]panel">[s/if $testt/s]Perfil[s//if/s]</a>
                </li>
                <li class="nav-item">
                    <img src="[s/$fotoPerfil/s]" style="width: 40px !important; ">
                </li>

            </ul>

        </div>
    </nav>
</header>
[s//if/s]