<!-- MODAL INFO -->
<div id="modal_info" class="hidden-print modal fade">
    <div class="modal-dialog" role="status">
	<div class="modal-content">

	    <div class="modal-body">
                
                <div class="color4 text-20">
                    <strong>Información:</strong>
                </div>

		<div class="row margin-top20 text-18">

		    <div class="col-md-12">

			<div id="setTextModalInfo" class="text_center">
			</div>

		    </div>

		</div>

	    </div>

	    <div class="modal-footer">
		<button type="button" class="btn background_color1 colorWhite" data-dismiss="modal" onclick="closeModal('modal_info');">Cerrar</button>
	    </div>
	</div>
    </div>
</div>

<!-- MODAL WARNING -->
<div id="modal_warning" class="hidden-print modal fade">
    <div class="modal-dialog" role="alert">
	<div class="modal-content">
	   
	    <div class="modal-body">
                
                <div class="color12 text-20">
                    <strong>Alerta: </strong>
                </div>

		<div class="row margin-top20 text-18">

		    <div class="col-md-12">

			<div id="setTextModalWarning" class="text_center">
			</div>

		    </div>

		</div>

	    </div>

	    <div class="modal-footer">
		<button type="button" class="btn background_color1 colorWhite" data-dismiss="modal" onclick="closeModal('modal_warning');">Cerrar</button>
	    </div>
	</div>
    </div>
</div>

<!-- MODAL ERROR -->
<div id="modal_error" class="hidden-print modal fade">
    <div class="modal-dialog" role="alert">
	<div class="modal-content">
	    <div class="modal-body">
                
                <div class="color2 text-20">
                    <strong>Error: </strong>
                </div>

		<div class="row margin-top20 text-18">

		    <div class="col-md-12">

			<div id="setTextModalError" class="text_center">
			</div>

		    </div>

		</div>

	    </div>

	    <div class="modal-footer">
		<button type="button" class="btn background_color1 colorWhite" data-dismiss="modal" onclick="closeModal('modal_error');">Cerrar</button>
	    </div>
	</div>
    </div>
</div>


<!-- MODAL LOADING -->
<div id="modal_loading" class="hidden-print modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="progressbar">
	<div class="modal-content">

	    <div class="modal-body">

		<div class="row margin-top20">

		    <div class="col-md-12">

			<div class="text_center">
			    <img src="images/loading.svg" class="text_center">
			    <div class="text_center text_bold color_primary">Please wait</div>
			</div>

		    </div>

		</div>

	    </div>
	</div>
    </div>
</div>