<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">

        <a href="../quillquest"><img src="images/logo/horizont_claro_sin_fondo.png" style="width: 180px;"></a>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item">
            <a class="nav-link" href="panel">
                <svg class="nav-icon">
                <use xlink:href="lib/coreui/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                </svg> Dashboard
            </a>
        </li>
        <li class="nav-title">HISTORIAS</li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="crearHistoria();">
                <svg class="nav-icon">
                <use xlink:href="lib/coreui/vendors/@coreui/icons/svg/free.svg#cil-book"></use>
                </svg> Crear historia
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="listado();">
                <svg class="nav-icon">
                <use xlink:href="lib/coreui/vendors/@coreui/icons/svg/free.svg#cil-library"></use>
                </svg> Listado historias
            </a>
        </li>
        
        <li class="nav-divider"></li>
        <li class="nav-title">PERFIL</li>
        
        <li class="nav-item" style="cursor:pointer;">
            <a class="nav-link" onclick="perfil();">
                <svg class="nav-icon">
                <use xlink:href="lib/coreui/vendors/@coreui/icons/svg/free.svg#cil-list"></use>
                </svg> Mis datos
            </a>
        </li>
        
        <li class="nav-item" style="cursor:pointer;">
            <a class="nav-link" onclick="logOut();">
                <svg class="nav-icon">
                <use xlink:href="lib/coreui/vendors/@coreui/icons/svg/free.svg#cil-arrow-left"></use>
                </svg> Salir
            </a>
        </li>

    </ul>
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>


<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <header class="header header-sticky mb-4">
        <div class="container-fluid">
            <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                <svg class="icon icon-lg">
                <use xlink:href="lib/coreui/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
                </svg>
            </button><a class="header-brand d-md-none" href="#">
                <a href="../quillquest"><img src="images/logo/simbolo sin fondo.png" style="width: 50px;"></a>

            <ul class="header-nav ms-3">
                <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-md"><img class="avatar-img" src="[s/$fotoPerfil/s]" onerror="this.onerror=null; this.src='images/avatar.png'" alt="avatar"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end pt-0">

                        <div class="dropdown-header bg-light py-2">
                            <div class="fw-semibold">Configuración</div>
                        </div>
                        <a class="dropdown-item" href="#" onclick="perfil();">
                            <svg class="icon me-2">
                            <use xlink:href="lib/coreui/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                            </svg> Perfil
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#" onclick="logOut();">
                            <svg class="icon me-2">
                            <use xlink:href="lib/coreui/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                            </svg> Salir</a>
                    </div>
                </li>
            </ul>
        </div>

    </header>

    <div class="body flex-grow-1 px-3" id="container-principal">
        <div class="container-lg">
            <div class="row mt-5">
                <div class="col-12 text-center color4">
                    <h1>Bienvenido [s/$usuario->name/s] [s/$usuario->lastname/s]</h1>
                </div>
            </div>
            
            
            <div class="row d-flex justify-content-center mt-4">
                <!-- /.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="card mb-4 text-white bg-warning">
                        <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                            <div>
                                <div class="fs-4 fw-semibold">[s/$historias_totales/s]</div>
                                <div>Historias totales</div>
                            </div>
                        </div>
                        <div class="align-items-start mt-4 mb-2" style="height:70px;">
                            <div style="margin-left: 16px">
                                <div>Páginas realizadas: <b>[s/$paginas_totales/s]</b></div>
                                <div>Opciones creadas: <b>[s/$elecciones_totales/s]</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    [s/$footer/s]
</div>
