<main id="wrapper" class="active">
    <div id="container" class="margin-bottom40 perfilUsuario">
        <h3 class="margin-bottom20">Perfil de administrador</h3>
        <div class="row justify-content-around">
            <div class ="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="card mb-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Nombre: </b><br>[s/$usuario->name/s]</li>
                        <li class="list-group-item"><b>Apellidos: </b><br>[s/$usuario->lastname/s]</li>
                        <li class="list-group-item"><b>Email: </b><br>[s/$usuario->email/s]</li>
                    </ul>
                </div>
                <div class="mb-4">
                    <button class="btn btn-primary" onclick="modalModif();"><i class="fas fa-pencil cursor_pointer"></i> Editar</button>
                </div>
<!-- - - - - - Modificar contraseña - - - - - -->
<div id="contraCambio" class="mb-4"><h4>Cambio de contraseña</h4>
                    <form>
                    <div>
                        <p>Su contraseña debe contener mínimo: 8 caracteres, una letra minúscula, una letra mayúscula, un número y un carácter especial</p>
                        <label for="contraNuevo">Contraseña nueva: </label>
                        <input type="password" id="contraNuevo" name="contraNuevo" minlength="8">
                    </div>
                    <div class="mt-2">
                        <label for="contraRepe">Repetir contraseña: </label>
                        <input type="password" id="contraRepe" name="contraRepe" required="required">
                    </div>
                    </form>
                    <div class="mt-2">
                        <button id="contraGuardar" class="btn btn-secondary mt-1" onclick="modificarContra([s/$idUsuario/s])"><i class="fas fa-lock cursor_pointer"></i> Cambiar contraseña</button>
                    </div>
                    <div id="contraMensaje" class="text-danger"></div>
                </div>
            </div>
<!-- - - - - - Foto - - - - - -->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 imagenPerfil">
                <div class="card">
                    <img  class="card-img-top" src="[s/$usuario->photo/s]" onerror="this.onerror=null; this.src='images/avatar.png'" alt="">
                </div>
            </div>
        </div>

        
<!-- - - - - Modal - - - - -->
        <div id="modal_modif" class="hidden-print modal fade">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="modificarUsuario">
                        <div class="text-20">
                            <strong>Editar perfil</strong>
                        </div>
                        <div class="row margin-top20">
                            <div class="col-md-12 mb-1">
                                <label for="nombreNuevo">Nombre: </label>
                                <input type="text" class="form-control form-control-inline mb-2" id="nombreNuevo" name="nombreNuevo" value="[s/$usuario->name/s]">
                            </div>
                            <div class="col-md-12 mb-1">
                                <label for="apellidoNuevo">Apellido: </label>
                                <input type="text" class="form-control form-control-inline mb-2" id="apellidoNuevo" name="apellidoNuevo" value="[s/$usuario->lastname/s]">
                            </div>
                            <div class="col-md-12 mb-1">
                                <label for="emailNuevo">Email: </label>
                                <input type="text" class="form-control form-control-inline mb-2" id="emailNuevo" name="emailNuevo" value="[s/$usuario->email/s]">
                            </div>
                            <div class="col-md-12 mb-1">
                                <label for="fotoNuevo">Foto de perfil: </label>
                                <input type="file" class="form-control" id="fotoNuevo" name="fotoNuevo" />
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn backgroundGrey" data-bs-dismiss="modal" onclick="closeModal('modal_modif');">Cancelar</button>
                        <button type="button" class="btn background_color1 colorWhite" onclick="modificarUsuario([s/$usuario->user_id/s])">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>