
<div class="row margin-top20">

    <div class="col-md-12">

        <table class="datatable display width100 nowrap" id="informesPreguntas">
            <thead>
                <tr>
                                        
                    [s/foreach from=$resultados->labels item=label/s]

                    <th class="text-center">[s/$label/s]</th>                    
                    [s//foreach/s]
                </tr>
            </thead>
            <tbody>
                
                <tr>

                    [s/foreach from=$resultados->totales item=total/s]
                    <td class="text-center">[s/$total/s]</td>                
                    
                    [s//foreach/s]

                </tr>
                
            </tbody>
        </table>

    </div>
</div>
