
<div class="row margin-top20">

    <div class="col-md-12">

        <table class="datatable display width100 nowrap" id="informesPreguntasLocalidad">
            <thead>
                <tr>
                    <th class="text-center">Respuestas</th>
                </tr>
            </thead>
            <tbody>
                [s/foreach from=$resultados item=res/s]
                [s/if $pregunta->pregunta_tipo_id==5/s]
                <tr>
                    <td class="text-center">[s/$res->texto_libre/s]</td>
                </tr>
                [s/elseif $pregunta->pregunta_tipo_id==6/s]
                <tr>
                    <td class="text-center">[s/$res->numero_libre/s]</td>
                </tr>
                [s//if/s]
                [s//foreach/s]

            </tbody>
        </table>

    </div>
    
    
</div>
