<h3>Informes</h3>


<div class="row">
    <div class="col-md-12">
        <label>
            
        </label>
        
        <select class="form-control" id="seleccionInforme">
            <option value="0">Seleccione un tipo de informe</option>
            [s/foreach from=$preguntas item=pregunta/s]
            <option value="[s/$pregunta->pregunta_id/s]">[s/$pregunta->titulo/s]</option>
            [s//foreach/s]
        </select>
    </div>
</div>

<div class="row margin-top20">
    <div class="col-md-12">
        <button class="btn background_color1" onclick="cargarInforme()">Cargar informe</button>
    </div>
</div>

<div id="cargarTablaInforme">

    
</div>
