<form class="formularioRuta" id="formularioRuta">
    <h3>Crear nueva ruta</h3>
    <!-- Titulo -->
    <div class="row margin-top20">

        <div class="col-md-12">
            <label for="ruta_titulo"><strong>Título:</strong></label>
            <input type="text" class="form-control form-control-inline" id="ruta_titulo" name="ruta_titulo">
        </div>
    </div>
    <!-- Descripción -->
    <div class="row margin-top20">

        <div class="col-md-6">
            <label for="ruta_descripcion"><strong>Descripción:</strong></label>
            <textarea class="form-control eventPreguntaTipo" id="ruta_descripcion" name="ruta_descripcion" rows="5"></textarea>
        </div>
    </div>
    <!-- Imagen -->
    <div class="row margin-top20">

        <div class="col-md-6">
            <label for="ruta_imagen"><strong>Imagen:</strong></label>
            <input type="file" class="form-control" id="ruta_imagen" name="ruta_imagen" />
        </div>
    </div>
    <!-- Fichero -->
    <div class="row margin-top20">

        <div class="col-md-6">
            <label for="ruta_link_descarga"><strong>Fichero de la ruta:</strong></label>
            <input type="file" class="form-control" id="ruta_link_descarga" name="ruta_link_descarga" />
        </div>
    </div>
    <!-- Dificultad -->
    <div class="row margin-top20">

        <div class="col-md-6">
            <label for="ruta_dificultad"><strong>Dificultad:</strong></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ruta_dificultad" id="dificultad_1" value="1" checked>
                <label class="form-check-label" for="dificultad_1">
                    Fácil
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ruta_dificultad" id="dificultad_2" value="2">
                <label class="form-check-label" for="dificultad_2">
                    Moderada
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ruta_dificultad" id="dificultad_3" value="3">
                <label class="form-check-label" for="dificultad_3">
                    Difícil
                </label>
            </div>
        </div>
    </div>
    <!-- Kilómetros -->
    <div class="row margin-top20">

        <div class="col-md-4">
            <label for="ruta_km"><strong>Distancia (Kilómetros):</strong></label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="ruta_km" name="ruta_km" />
                <div class="input-group-append">
                    <span class="input-group-text">Km</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Tipo de ruta -->
    <div class="row margin-top20">

        <div class="col-md-6">
            <label for="ruta_tipo"><strong>Tipo de ruta:</strong></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ruta_tipo" id="ruta_tipo_1" value="1" checked>
                <label class="form-check-label" for="ruta_tipo_1">
                    Senderismo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ruta_tipo" id="ruta_tipo_2" value="2">
                <label class="form-check-label" for="ruta_tipo_2">
                    Bicicleta
                </label>
            </div>
        </div>
    </div>
</form>

<div class="row margin-top20 margin-bottom20">
    <div class="col-md-12">
        <button class="btn background_color1" onclick="rutaRequest('save', 0)">Guardar</button>
    </div>
</div>