<h3>Crear nueva pregunta</h3>

<div class="row margin-top20">
    
    <div class="col-md-12">
        <label for="pregunta_titulo"><strong>Título:</strong></label>
        <input type="text" class="form-control form-control-inline" id="pregunta_titulo">
    </div>
</div>

<div class="row margin-top20">
    
    <div class="col-md-6">
        <label for="pregunta_tipo"><strong>Seleccione el tipo de pregunta:</strong></label>
        <select class="form-control eventPreguntaTipo" id="pregunta_tipo">
            <option value="0">Seleccione uno</option>
            [s/foreach from=$preguntasTipo item=pregTipo/s]
            <option value="[s/$pregTipo->pregunta_tipo_id/s]">[s/$pregTipo->nombre_tipo/s]</option>
            [s//foreach/s]
        </select>
        
    </div>
</div>

<div id="divOpciones" class="row margin-top20 displayNone">

    <div class="row">

        <div class="col-md-4">
            <label for="btnAddNewResponse"><strong>Añadir nueva opción de respuesta</strong></label>
            <button class="btn background_color1" id="btnAddNewResponse"><i class="fa-solid fa-plus"></i></button>

        </div>

        <div class="col-md-4">
            <input type="checkbox" class="" id="activar_otros">
            Activar respuesta libre "otros".
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="addResponse" class="padding20 background_color2 margin-top20">

            </div>
        </div>
    </div>

</div>

<div id="divSelect" class="row margin-top20 displayNone clear_both">

    <div class="row">

        <div class="col-md-12">
            <strong>Marque los selects que quiera incluir en la respuesta</strong>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="allSelects" class="padding20 background_color2 margin-top20">
                [s/foreach from=$selects item=sel/s]
                <div class="row margin-top10">
                    <div class="col-md-6 border-white cursor_pointer background_color1 colorWhite border-radius5 padding10">
                        <div class="float_left">
                            <input type="checkbox" class="eventNewSelect" select_id="[s/$sel->select_id/s]">
                            [s/$sel->nombre/s]
                        </div>
                        <div class="float_left padding-left10 cursor_pointer float_right">
                            <i class="fa-solid fa-sort"></i>
                        </div>
                    </div>
                </div>
                [s//foreach/s]
            </div>
        </div>
    </div>

</div>

<div class="row margin-top20">
    <div class="col-md-12">
        <button class="btn background_color1" onclick="preguntaRequest('save',0)">Guardar</button>
    </div>
</div>