<h3>Listado de encuestas realizadas</h3>

<div class="row margin-top20">
    
    <div class="col-md-12">
        
        <table class="datatable display width100" id="listadoPreguntas">
            <thead>
                <tr>
                    <th class="text-left">Id</th>
                    <th class="text-center">Fecha encuesta</th>
                    <th class="text-center">Total preguntas contestadas</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                [s/foreach from=$encuestas item=encuesta/s]
                <tr>
                    <td class="text-left color5"><strong>[s/$encuesta->encuesta_id/s]</strong></td>
                    <td class="text-center">[s/$encuesta->fecha_encuesta|date_format:'%d/%m/%Y - %I:%M' /s]</td>
                    <td class="text-center">[s/$encuesta->total_respuestas/s]</td>
                    <td class="text-center">
                        
                        <div class="row">
                            <div class="col-md-12 color1">
                                <i class="fas fa-eye cursor_pointer" onclick="verEncuestaPage([s/$encuesta->encuesta_id/s]);" title="Ver encuesta"></i>
                            </div>                            
                        </div>
                        
                    </td>

                </tr>
                [s//foreach/s]
            </tbody>
        </table>
        
    </div>
</div>

[s/foreach from=$encuestas item=pregunta/s]


[s//foreach/s]