[s/$contadorPregunta = 1/s]
[s/foreach from=$encuesta item=pregunta/s]

<div class="row margin-top20">
    
    <div class="col-md-12">
        <label for="pregunta_titulo"><strong>[s/$contadorPregunta/s]. [s/$pregunta->titulo/s]</strong></label>
        
        <div class="margin-top10">
        [s/if $pregunta->pregunta_tipo_id==1/s]
        
        <ul>
            [s/foreach from=$pregunta->selects item=sel/s]
            <li>
                <span class="color1">[s/$sel->nombre_select/s]:</span>
                [s/if $sel->select_id==1/s]
                    [s/$sel->nombre_ciudad/s]
                [s/elseif $sel->select_id==2/s]
                    [s/$sel->nombre_provincia/s]
                [s/elseif $sel->select_id==3/s]
                    [s/$sel->nombre_comunidad/s]
                [s/elseif $sel->select_id==4/s]
                    [s/$sel->nombre_pais/s]
                [s//if/s]
            </li>
            [s//foreach/s]
        </ul>

        
        [s/elseif $pregunta->pregunta_tipo_id==2 && $pregunta->opciones!=''/s]

        <ul>
            <li>
                [s/$pregunta->value_opcion/s]
            </li>
        </ul>

        
        [s/elseif $pregunta->pregunta_tipo_id==3/s]
        
        
        <ul>
            [s/foreach from=$pregunta->options item=opt/s]
            <li>
                [s/$opt->value_opcion/s]
            </li>
            [s//foreach/s]
        </ul>
        
        
        [s/elseif $pregunta->pregunta_tipo_id==4/s]
        
        <ul>
            <li>
                [s/if $pregunta->si_no==1/s]
                Si
                [s/else/s]
                No
                [s//if/s]
            </li>
        </ul>

        
        [s/elseif $pregunta->pregunta_tipo_id==5 && $pregunta->texto_libre!=''/s]
        
        <ul>
            <li>
                [s/$pregunta->texto_libre/s]
            </li>
        </ul>
        
        [s/elseif $pregunta->pregunta_tipo_id==6 && $pregunta->numero_libre>0/s]
        
        <ul>
            <li>
                [s/$pregunta->numero_libre/s]
            </li>
        </ul>
        
        [s//if/s]
        
        [s/if $pregunta->otros!=''/s]
        <p>
            - <span class="color1">Otra respuesta: </span>[s/$pregunta->otros/s]
        </p>
        [s//if/s]
        
        </div>
        
    </div>
</div>


[s/$contadorPregunta = $contadorPregunta + 1/s]
[s//foreach/s]


<div class="row margin-top20 margin-bottom10">
    <div class="col-md-12">
        <button class="btn background_color1" onclick="encuestasRealizadas()">Salir</button>
    </div>
</div>